@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700&display=swap');

:root {
  --bg-color: #588ae5;
  --primary-color: #4369b2;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
  border: none;
  outline: none;
  font-family: 'Lato', sans-serif;
  list-style: none;
  transition: all 0.3s linear;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

img {
  width: 100%;
  height: auto;
}

section {
  padding: 2rem 6rem;
}

/* @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
  color: #333;
  background-color: #fff;
}

.App {
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 4%;
  background-color: #4369b2;
  color: white;
}

.world_map {
  width: 100%;
  height: 100%;
  background-color: #588ae5;
}

.stats {
  background-color: #35548b;
}

/* .map-wrapper {
  width: 100%;
}

.map {
  width: 100%;
  height: 100%;
  position: relative;
}

.leaflet-container {
  height: 400px;
} */
